html {
  font-size: 62.5%;
}

/* NAVIGATION */

nav {
  height: 8rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;

  background: rgba(70, 18, 118, 0.45);
  backdrop-filter: blur(12px);

  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-img {
  height: 5.5rem;
  object-fit: contain;
  margin-left: 2rem;
}

.nav-link button {
  white-space: nowrap;
  flex-shrink: 0;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-link ul {
  display: flex;
  margin-right: 1rem;
  gap: 0.2rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
}
.nav-link ul li {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  list-style: none;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}
.nav-link ul li:hover {
  background-color: rgba(94, 0, 181, 0.5);
}
.nav-link ul li a {
  color: rgb(248, 226, 221);
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  color: rgb(248, 226, 221);
  padding: 1.5rem;
  font-size: 1.7rem;
}

.nav-link button {
  height: 4.5rem;
  width: 12rem;
  border-radius: 20px;
  margin-right: 2rem;
  background-color: rgb(248, 226, 221);

  border: none;
  font-size: 1.8rem;
}
.nav-link button a {
  color: rgb(56, 15, 95);
  font-size: 2rem;
  text-decoration: none;
  text-wrap: nowrap;
}
.nav-link-mobile {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  width: 100%;
  height: auto;
  background-color: rgba(70, 18, 118, 0.85);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  z-index: 6;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  padding-top: 3rem;
  transition: 0.3s ease-in-out;
}
.nav-link-mobile.active {
  transform: translateX(0);
}

.nav-link-mobile {
  opacity: 0;
  pointer-events: none;
}

.nav-link-mobile.active {
  opacity: 1;
  pointer-events: auto;
}

.nav-link-mobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.nav-link-mobile ul li {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-link-mobile ul li a {
  color: rgb(248, 226, 221);
  text-decoration: none;
  font-family: sans-serif !important;
  text-decoration: none;
  border-radius: 20px;

  color: rgb(248, 226, 221);
  padding: 1.5rem;
  font-size: 2.4rem;
  transition: background-color 0.35s ease, color 0.35s ease;
}
.nav-link-mobile ul li a:hover {
  background-color: rgba(94, 0, 181, 0.5);
  color: rgb(219, 191, 118);
}
.nav-link-mobile ul li a:active {
  transform: scale(0.97);
}

.nav-link-mobile button {
  height: 4.5rem;
  width: 12rem;
  border-radius: 20px;

  background-color: rgb(248, 226, 221);
  border: none;

  font-size: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 2rem;

  cursor: pointer;

  transition: box-shadow 0.35s ease, background-color 0.35s ease;
}
.nav-link-mobile button a {
  color: rgb(56, 15, 95);
  font-size: 2rem;
  text-decoration: none;
  text-wrap: nowrap;
}
.nav-link-mobile button:hover {
  box-shadow: 0px 0px 20px rgba(248, 226, 221, 0.9);
}
.nav-link-mobile button:active {
  transform: scale(0.96);
}

.menu-btn {
  display: none;
  font-size: 3rem;
  color: rgb(248, 226, 221);
  cursor: pointer;
  z-index: 7;
}

/* HERO SECTION */
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #000;
  margin-bottom: 3rem;
}

.spline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 180%;
  height: 100%;

  opacity: 0.75;
}
.spline-ele {
  height: 100%;
  width: 100%;
}

.hero-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ededed;
  transform: shadow 0.3s ease-in-out;
  text-shadow: #000 0px 0px 100px;
}
#celebration {
  font-size: 6rem;
}

.hero-heading:hover {
  text-shadow: #000 0px 0px 50px;
}

.hero-heading-primary {
  font-size: 6.5rem;
}
.hero-heading-secondary {
  font-size: 2rem;
  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(252, 207, 93);
  text-shadow: #000 0px 0px 10px;
  white-space: nowrap;
}
.hero-btn {
  position: absolute;
  top: 140%;
  left: 50%;
  background-color: rgb(70, 18, 118);
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 20px;
  border: 0px solid black;
  box-shadow: #000 0px 0px 100px;
  transition: background-color 0.3s ease-in-out;
  z-index: -1;
}
.hero-btn:hover {
  background-color: rgb(76, 0, 148);
}
.hero-btn a {
  color: rgb(248, 226, 221);
  text-decoration: none;
  font-size: 1.8rem;
  text-shadow: #000 0px 0px 100px;
  text-wrap: nowrap;
}

.slides {
  height: 100%;
}

.slide {
  position: absolute;
  inset: 0;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  color: white;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  pointer-events: none;
}
.slide:nth-child(1) {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(material/carosel/carosel-wedding.png) center/cover;
}
.slide:nth-child(2) {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(material/carosel/carosel-corporate.jpg) center/cover;
}
.slide:nth-child(3) {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(material/carosel/carosel-birthday.png) center/cover;
}

.slide.active {
  opacity: 1;
  pointer-events: auto;
}

/* Buttons */
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 3rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.prev {
  left: 2rem;
}
.next {
  right: 2rem;
}

/* TRUSTED BRANDS SECTION */

.trusted-brands {
  height: 12rem;
  width: 100%;
  overflow: hidden;
  padding: 4rem 0;
  background-color: rgb(244, 226, 214);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
  margin-bottom: 5rem;
}

.trusted-brands-track {
  display: flex;
  width: max-content;
  animation: scroll-logos 25s linear infinite;
}

.trusted-brands-logo {
  display: flex;
  position: relative;
  top: -7rem;
  align-items: center;
  gap: 4rem;
  padding-right: 4rem;
}

#trust-img-1 {
  height: 3rem;
  width: auto;
}
#trust-img-2 {
  height: 8rem;
  width: auto;
}
#trust-img-3 {
  height: 4rem;
  width: auto;
}
#trust-img-4 {
  height: 4.5rem;
  width: auto;
}
#trust-img-5 {
  height: 4rem;
  width: auto;
}
#trust-img-6 {
  height: 16rem;
  width: auto;
}
#trust-img-7 {
  height: 14rem;
  width: auto;
}
#trust-img-8 {
  height: 18rem;
  width: auto;
}

#trust-img-9 {
  height: 16rem;
  width: auto;
}
#trust-img-10 {
  height: 16rem;
  width: auto;
}

.trusted-brands-logo img {
  height: 60px; /* unify height */
  width: auto; /* variable width */
  object-fit: contain;
  filter: grayscale(100%);
  opacity: 0.8;
  transition: 0.3s ease;
}

.trusted-brands-logo img:hover {
  filter: grayscale(0%);
  opacity: 1;
  transform: scale(1.05);
}

@keyframes scroll-logos {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
/* OUR SERVICES SECTION */
.section-services {
  height: auto;
  width: 100%;
  background-color: rgb(248, 226, 221);
  padding: 5rem 0;
  margin-bottom: 5rem;
  margin: 0 auto;
  max-width: 1200px;
}
.services-heading {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 2.5rem;
  font-weight: 600;
}

.services-heading-primary {
  color: rgb(70, 18, 118);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.services-heading-secondary {
  color: rgb(105, 30, 175);
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: "Playwrite NZ Basic", cursive;
}
.max-width {
  margin: 0 auto;
  max-width: 1200px;
}
.services-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin: 0 auto;
}
.services-card {
  height: 32rem;
  width: 35rem;
  padding: 4rem 3rem;
  background-color: rgb(251, 242, 221);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s ease;
}
.services-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}
.service-card-icon {
  font-size: 4.8rem;
  width: auto;
  object-fit: contain;
  margin: 0 auto;
}

.service-card-icon ion-icon {
  color: rgb(97, 15, 174);
}

.service-card-content {
  text-align: left;
  margin-bottom: 4rem;
}
.service-card-content-primary {
  color: rgb(83, 23, 140);
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.service-card-content-secondary {
  color: rgb(187, 144, 35);
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
  font-family: "Playwrite NZ Basic", cursive;
}
.service-card-btn {
  text-decoration: none;

  color: rgb(97, 15, 174);
  font-weight: 600;
  font-size: 1.8rem;
  transition: 0.3s ease;
}
.service-card-btn:hover {
  color: rgb(83, 23, 140);
}
.service-card-btn-icon {
  color: rgb(97, 15, 174);
  font-size: 1.9rem;
  margin-left: 0.5rem;
  transition: 0.3s ease;
  position: relative;
  top: 0.4rem;
}

/* FOOTER */
footer {
  height: auto;
  background-color: rgb(37, 6, 65);
  padding: 6rem 0;
  padding-bottom: 2rem;
}

/* MAIN GRID WRAPPER */
.footer-content {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  gap: 4rem;
  color: rgb(177, 173, 158);
}

.footer-about {
  width: 100%;
}

/* ABOUT SECTION */
.footer-about img {
  height: 8rem;

  width: auto;
  object-fit: contain;
}

.footer-about-secondary {
  font-size: 1.2rem;
  margin: 1.5rem 0;
  font-family: "Playwrite NZ Basic", cursive;
}

/* SOCIAL ICONS */
.footer-about-social-icon {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}

.footer-about-social-icon ion-icon {
  font-size: 2.4rem;
  color: rgb(248, 226, 221);
  transition: 0.3s ease;
  margin-right: 1rem;
}

.footer-about-social-icon ion-icon:hover {
  color: rgb(226, 200, 255);
}

/* LINKS */
.footer-link-heading {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.footer-link-content ul {
  list-style: none;
}

.footer-link-content ul li {
  margin-bottom: 1.5rem;
}

.footer-link-content ul li a {
  color: rgb(177, 173, 158);
  text-decoration: none;
  font-size: 1.4rem;
  transition: color 0.3s ease;
}

.footer-link-content ul li a:hover {
  color: rgb(226, 200, 255);
}

.footer-contact-list ul {
  list-style: none;
  padding: 0;
}

.footer-contact-list ul li {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin-bottom: 2rem;
}

.footer-contact-list ul li ion-icon {
  font-size: 2.2rem;
  color: rgb(177, 136, 214);
  margin-top: 0.2rem; /* aligns with first text line */
  flex-shrink: 0;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2rem 0;
  margin-top: 4rem;

  border-top: 1px solid rgba(248, 226, 221, 0.2);

  font-size: 1.4rem;
  color: rgb(248, 226, 221);
}

.footer-copyright p {
  margin: 0;
  opacity: 0.5;
  font-size: 1.6rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer-copyright span {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-copyright span a {
  text-decoration: none;
  color: rgb(248, 226, 221);

  opacity: 0.5;
  transition: 0.3s ease;
  cursor: pointer;
  font-size: 1.6rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer-copyright span a:hover {
  opacity: 1;
  color: rgb(252, 207, 93);
}
